body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
}

#contenidor {
	height: 800px;
	background: #ddd;
}

#botons{
	width: 300px;
	margin: auto;
	position: relative;
	top:200px;
}

.boto {
	width: 300px;
	height: 80px;
	margin-bottom: 20px;
}